:root {
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color--rgb: 0, 124, 186;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-10--rgb: 0, 107, 161;
  --wp-admin-theme-color-darker-20: #005a87;
  --wp-admin-theme-color-darker-20--rgb: 0, 90, 135;
  --wp-admin-border-width-focus: 0.125rem;
  --wp-block-synced-color: #7a00df;
  --wp-block-synced-color--rgb: 122, 0, 223;
}

:root {
  --wp--preset--font-size--normal: 1rem;
  --wp--preset--font-size--huge: 2.625rem;
}

.has-text-align-center {
  text-align: center;
}

.screen-reader-text {
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  word-wrap: normal !important;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 3.375rem;
  font-family: var(--wp--preset--font-family--urw-din);
  letter-spacing: 0;
  color: var(--wp--preset--color--themeblue);
}

@media (min-width: 80rem) {
  h1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 29.9375rem) {
  h1 {
    line-height: 2.25rem;
  }
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.75rem;
  letter-spacing: 0.1375rem;
  font-family: var(--wp--preset--font-family--urw-din);
  color: var(--wp--preset--color--themeblack);
}

@media (min-width: 80rem) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.15rem;
  }
}

.is-style-centerUnderlineStrong {
  position: relative;
  margin-bottom: 3.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.is-style-centerUnderlineStrong:after {
  content: "";
  position: absolute;
  top: unset;
  bottom: -1rem;
  left: 50%;
  width: 3.125rem;
  height: 0.25rem;
  background-color: var(--wp--preset--color--themeblack);
  transform: translateX(-50%);
}

@media (min-width: 48rem) {
  .is-style-centerUnderlineStrong {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 80rem) {
  .is-style-centerUnderlineStrong {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-family: var(--wp--preset--font-family--urw-din);
  letter-spacing: 0;
  color: var(--wp--preset--color--themeblack);
}

@media (min-width: 80rem) {
  p {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.menu a {
  font-family: var(--wp--preset--font-family--urw-din);
}

main {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  position: relative;
}

@media (min-width: 48rem) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/c3b3a1/00000000000000007735a834/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/c3b3a1/00000000000000007735a834/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/c3b3a1/00000000000000007735a834/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/1814f5/00000000000000007735a837/30/l?subset_id=2&fvd=i3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/1814f5/00000000000000007735a837/30/d?subset_id=2&fvd=i3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/1814f5/00000000000000007735a837/30/a?subset_id=2&fvd=i3&v=3)
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/1f0265/00000000000000007735a839/30/l?subset_id=2&fvd=i4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/1f0265/00000000000000007735a839/30/d?subset_id=2&fvd=i4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/1f0265/00000000000000007735a839/30/a?subset_id=2&fvd=i4&v=3)
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/f1d51b/00000000000000007735a83d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/f1d51b/00000000000000007735a83d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/f1d51b/00000000000000007735a83d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/5f44f1/00000000000000007735a840/30/l?subset_id=2&fvd=i5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/5f44f1/00000000000000007735a840/30/d?subset_id=2&fvd=i5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/5f44f1/00000000000000007735a840/30/a?subset_id=2&fvd=i5&v=3)
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/d96df7/00000000000000007735a843/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/d96df7/00000000000000007735a843/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/d96df7/00000000000000007735a843/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/caf48f/00000000000000007735a846/30/l?subset_id=2&fvd=i6&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/caf48f/00000000000000007735a846/30/d?subset_id=2&fvd=i6&v=3)
      format("woff"),
    url(https://use.typekit.net/af/caf48f/00000000000000007735a846/30/a?subset_id=2&fvd=i6&v=3)
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/b8eeae/00000000000000007735a849/30/l?subset_id=2&fvd=n6&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/b8eeae/00000000000000007735a849/30/d?subset_id=2&fvd=n6&v=3)
      format("woff"),
    url(https://use.typekit.net/af/b8eeae/00000000000000007735a849/30/a?subset_id=2&fvd=n6&v=3)
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/1c5092/00000000000000007735a84b/30/l?subset_id=2&fvd=i7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/1c5092/00000000000000007735a84b/30/d?subset_id=2&fvd=i7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/1c5092/00000000000000007735a84b/30/a?subset_id=2&fvd=i7&v=3)
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/cd97e9/00000000000000007735a84f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/cd97e9/00000000000000007735a84f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/cd97e9/00000000000000007735a84f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/fe2f02/00000000000000007735a851/30/l?subset_id=2&fvd=i9&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/fe2f02/00000000000000007735a851/30/d?subset_id=2&fvd=i9&v=3)
      format("woff"),
    url(https://use.typekit.net/af/fe2f02/00000000000000007735a851/30/a?subset_id=2&fvd=i9&v=3)
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: urw-din;
  src: url(https://use.typekit.net/af/0fba77/00000000000000007735a855/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/0fba77/00000000000000007735a855/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
      format("woff"),
    url(https://use.typekit.net/af/0fba77/00000000000000007735a855/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@media (min-width: 66.875rem) {
  body {
    overflow-x: hidden;
  }

  body:after,
  body:before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 62.5rem;
    background-color: var(--wp--preset--color--themewhite);
    z-index: 9999;
    top: 2rem;
  }

  body:before {
    left: 0;
  }

  body:after {
    right: 0;
  }
}

.site-header {
  width: 120rem;
  max-width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 1.1875rem;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1100;
}

@media (min-width: 66.875rem) {
  .site-header {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
}

.site-header .header {
  display: grid;
  grid-template-columns: auto 2.5625rem 1.5625rem;
  grid-template-areas: "logo search nav";
  gap: 1.5625rem;
  align-items: center;
  padding: 1.03125rem 1.5625rem;
  position: relative;
  z-index: 9;
}

@media (min-width: 48rem) {
  .site-header .header {
    padding: 1.03125rem 2rem;
  }
}

@media (min-width: 66.875rem) {
  .site-header .header {
    padding: 0;
    grid-template-columns: 13.125rem auto 2.5625rem;
    grid-template-areas: "logo nav search";
  }
}

.site-header .header .wp-block-karhu-js-blocks-logo {
  min-width: 12.5rem;
  grid-area: logo;
}

.site-header .header .wp-block-karhu-js-blocks-logo img {
  width: 12.5rem;
}

.site-header .header .wp-block-karhu-js-blocks-logo a {
  position: relative;
  z-index: 99;
}

.site-header .header__nav {
  grid-area: nav;
  height: 100%;
}

.site-header .header__nav ul {
  list-style: none;
}

.site-header .header__nav ul li a {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: var(--wp--preset--color--themeblack);
  font-weight: 300;
  text-decoration: none;
  position: relative;
}

.site-header .header__nav ul li a:before {
  content: "";
  width: 0;
  height: 0.0625rem;
  position: absolute;
  bottom: -0.25rem;
  left: 1rem;
  background-color: var(--wp--preset--color--themeblack);
}

@media (max-width: 66.8125rem) {
  .site-header .header__nav ul li a {
    padding: 0.4375rem 0;
  }
}

.site-header .header__nav ul li a:visited {
  color: var(--wp--preset--color--themeblack);
}

.site-header .header__nav .mobile-menu-toggle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4375rem;
  border: 0;
  background: 0 0;
  padding: 0;
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .mobile-menu-toggle {
    display: none;
  }
}

.site-header .header__nav .mobile-menu-toggle .collapse-button {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.site-header .header__nav .mobile-menu-toggle .collapse-button--bar {
  background-color: var(--wp--preset--color--themeblue);
  width: 100%;
  height: 0.125rem;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-header .header__nav .mobile-menu-toggle .collapse-button--bar:first-of-type {
  transform: translateY(-0.625rem);
  left: 0;
}

.site-header .header__nav .mobile-menu-toggle .collapse-button--bar:last-of-type {
  transform: translateY(0.5rem);
  left: 0;
}

.site-header .header__nav .menu {
  display: none;
}

@media (max-width: 66.8125rem) {
  .site-header .header__nav .menu {
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    background-color: var(--wp--preset--color--themewhite);
    padding: 1.5625rem 2rem 3.3125rem;
  }
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-left: -12.5rem;
  }
}

@media (max-width: 79.9375rem) {
  .site-header .header__nav .menu {
    margin-left: 0;
  }
}

@media (max-width: 66.8125rem) {
  .site-header .header__nav .menu > .menu-item {
    position: relative;
  }

  .site-header .header__nav .menu > .menu-item:not(:first-of-type) {
    margin-top: 1.5625rem;
  }
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .menu > .menu-item {
    padding: 1.4375rem 0;
  }

  .site-header .header__nav .menu > .menu-item > a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.site-header .header__nav .menu > .menu-item > a {
  font-size: 1rem;
  line-height: 1.375rem;
  color: var(--wp--preset--color--themeblack);
}

@media (max-width: 66.8125rem) {
  .site-header .header__nav .menu > .menu-item > a {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 300;
    padding: 0.4375rem 2rem 0.4375rem 0;
    display: block;
  }
}

.site-header .header__nav .menu > .menu-item > a:visited {
  color: var(--wp--preset--color--themeblack);
}

.site-header .header__nav .menu > .menu-item > .sub-menu {
  display: none;
}

@media (max-width: 66.8125rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu {
    padding: 1.3125rem 0 0 1.625rem;
  }

  .site-header .header__nav .menu > .menu-item > .sub-menu .title {
    display: none;
  }
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu {
    position: absolute;
    top: 4.125rem;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--wp--preset--color--themebggrey);
    padding: 3.5rem 4rem;
    box-sizing: border-box;
    column-gap: 2rem;
  }
}

@media (max-width: 79.9375rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu {
    padding: 3.5rem 2rem;
  }
}

@media (max-width: 66.8125rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu {
    padding: 1.3125rem 0 0 1.625rem;
  }
}

.site-header .header__nav .menu > .menu-item > .sub-menu > .menu-item {
  margin-bottom: 1.375rem;
}

.site-header .header__nav .menu > .menu-item > .sub-menu > .menu-item > a {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  display: inline-block;
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu > .menu-item > a {
    color: var(--wp--preset--color--themeblue);
  }
}

.site-header .header__nav .menu > .menu-item > .sub-menu > .menu-item a:before {
  left: 0;
  background-color: var(--wp--preset--color--themeblue);
}

@media (max-width: 66.8125rem) {
  .site-header
    .header__nav
    .menu
    > .menu-item
    > .sub-menu
    > .menu-item:not(:last-of-type) {
    margin-bottom: 1.375rem;
  }
}

.site-header .header__nav .menu > .menu-item > .sub-menu .sub-menu {
  display: none;
  padding-left: 1.125rem;
  margin-bottom: 2.375rem;
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu .sub-menu a {
    color: var(--wp--preset--color--themeblue);
  }
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu .sub-menu {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.site-header .header__nav .menu > .menu-item > .sub-menu .sub-menu .menu-item {
  margin-top: 1.25rem;
}

@media (min-width: 66.875rem) and (min-width: 90rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu {
    column-gap: 6rem;
  }
}

@media (min-width: 66.875rem) and (max-width: 79.9375rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu {
    column-gap: 1rem;
  }
}

@media (min-width: 66.875rem) and (max-width: 66.8125rem) {
  .site-header .header__nav .menu > .menu-item > .sub-menu {
    gap: 0;
  }
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .menu > .menu-item.columns > .sub-menu {
    left: 0;
    width: calc(100vw - 4rem);
    max-width: calc(100vw - 4rem);
    justify-content: center;
  }

  .site-header .header__nav .menu > .menu-item.columns > .sub-menu > li {
    flex: 1 1 calc(20% - 1rem);
  }
}

@media (min-width: 80rem) {
  .site-header .header__nav .menu > .menu-item.columns > .sub-menu > li {
    flex: 1 1 calc(20% - 2rem);
  }
}

@media (max-width: 66.8125rem) {
  .site-header .header__nav .menu .menu-item {
    position: relative;
  }

  .site-header .header__nav .menu .menu-item-has-children > a {
    padding-right: 1.625rem;
  }
}

.site-header .header__nav .menu .menu-item .open-mobile-submenu {
  border: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  background-image: url(../images/arrow-down.svg);
  background-position: center;
  background-size: 1.125rem;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: 0.5625rem;
  right: 0;
  z-index: 1;
}

@media (min-width: 66.875rem) {
  .site-header .header__nav .menu .menu-item .open-mobile-submenu {
    display: none;
  }
}

.site-header .header__search {
  position: relative;
  z-index: 999;
  grid-area: search;
}

@media (min-width: 66.875rem) and (min-width: 48rem) {
  .site-header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

header {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* @if $legacy_support_for_ie {
  font-size: 100%;
} */

button,
html {
  font-family: var(normalized_font_family);
}

body {
  margin: 0;
}

a {
  background: 0 0;
}

img {
  border: 0;
}

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button {
  line-height: normal;
}

button {
  text-transform: none;
}

button {
  appearance: auto;
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.alignfull {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.has-text-align-center {
  text-align: center;
}

.brand-logos__our-brands {
  width: 100%;
  max-width: 100% !important;
  background-color: var(--wp--preset--color--themelightgrey);
  padding: 2.625rem 1.5625rem;
  margin: 2.5rem auto;
  box-sizing: border-box;
}

@media (min-width: 80rem) {
  .brand-logos__our-brands {
    padding: 3.9375rem 6rem;
  }
}

.large-hero {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24.375rem;
}

@media (min-width: 48rem) {
  .large-hero {
    min-height: 22.6875rem;
  }
}

@media (min-width: 80rem) {
  .large-hero {
    min-height: 39.1875rem;
  }
}

@media (min-width: 80rem) {
  .large-hero.has-video {
    min-height: 42.75rem;
  }
}

@media (min-width: 80rem) {
  .large-hero:before {
    content: "";
    background-image: url(../images/arrow-down-big.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2.125rem;
    height: 1rem;
    position: absolute;
    bottom: 2.125rem;
    left: calc(50% - 1rem);
    z-index: 3;
    animation: pointer 3s ease-in-out infinite;
  }
}

.large-hero--content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 1.25rem;
}

@media (min-width: 48rem) {
  .large-hero--content {
    padding: 0;
  }
}

.large-hero--content h1 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: 0.55rem;
  font-weight: 300;
  color: var(--wp--preset--color--themewhite);
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5625rem;
  box-sizing: border-box;
  text-transform: uppercase;
}

@media (min-width: 48rem) {
  .large-hero--content h1 {
    font-size: 1.5rem;
    line-height: 2.125rem;
    letter-spacing: 0.6rem;
    width: 37.9375rem;
    padding: 0;
  }
}

@media (min-width: 80rem) {
  .large-hero--content h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.7rem;
  }
}

.large-hero--image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.large-hero--image.has-video:after {
  background-color: rgba(0, 0, 0, 0.3);
}

.large-hero--image:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.098);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.large-hero--image iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-hero--image img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@-moz-keyframes pointer {
  0% {
    bottom: 2.125rem;
  }

  50% {
    bottom: 1.5rem;
  }

  100% {
    bottom: 2.125rem;
  }
}

@-webkit-keyframes pointer {
  0% {
    bottom: 2.125rem;
  }

  50% {
    bottom: 1.5rem;
  }

  100% {
    bottom: 2.125rem;
  }
}

@-o-keyframes pointer {
  0% {
    bottom: 2.125rem;
  }

  50% {
    bottom: 1.5rem;
  }

  100% {
    bottom: 2.125rem;
  }
}

@keyframes pointer {
  0% {
    bottom: 2.125rem;
  }

  50% {
    bottom: 1.5rem;
  }

  100% {
    bottom: 2.125rem;
  }
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 3.375rem;
  font-family: var(--wp--preset--font-family--urw-din);
  letter-spacing: 0;
  color: var(--wp--preset--color--themeblue);
}

@media (min-width: 80rem) {
  h1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 29.9375rem) {
  h1 {
    line-height: 2.25rem;
  }
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.75rem;
  letter-spacing: 0.1375rem;
  font-family: var(--wp--preset--font-family--urw-din);
  color: var(--wp--preset--color--themeblack);
}

@media (min-width: 80rem) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.15rem;
  }
}

.is-style-centerUnderlineStrong {
  position: relative;
  margin-bottom: 3.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.is-style-centerUnderlineStrong:after {
  content: "";
  position: absolute;
  top: unset;
  bottom: -1rem;
  left: 50%;
  width: 3.125rem;
  height: 0.25rem;
  background-color: var(--wp--preset--color--themeblack);
  transform: translateX(-50%);
}

@media (min-width: 48rem) {
  .is-style-centerUnderlineStrong {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 80rem) {
  .is-style-centerUnderlineStrong {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-family: var(--wp--preset--font-family--urw-din);
  letter-spacing: 0;
  color: var(--wp--preset--color--themeblack);
}

@media (min-width: 80rem) {
  p {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.menu a {
  font-family: var(--wp--preset--font-family--urw-din);
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 3.375rem;
  font-family: var(--wp--preset--font-family--urw-din);
  letter-spacing: 0;
  color: var(--wp--preset--color--themeblue);
}

@media (min-width: 80rem) {
  h1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 29.9375rem) {
  h1 {
    line-height: 2.25rem;
  }
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.75rem;
  letter-spacing: 0.1375rem;
  font-family: var(--wp--preset--font-family--urw-din);
  color: var(--wp--preset--color--themeblack);
}

@media (min-width: 80rem) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.15rem;
  }
}

.is-style-centerUnderlineStrong {
  position: relative;
  margin-bottom: 3.5rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.is-style-centerUnderlineStrong:after {
  content: "";
  position: absolute;
  top: unset;
  bottom: -1rem;
  left: 50%;
  width: 3.125rem;
  height: 0.25rem;
  background-color: var(--wp--preset--color--themeblack);
  transform: translateX(-50%);
}

@media (min-width: 48rem) {
  .is-style-centerUnderlineStrong {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 80rem) {
  .is-style-centerUnderlineStrong {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-family: var(--wp--preset--font-family--urw-din);
  letter-spacing: 0;
  color: var(--wp--preset--color--themeblack);
}

@media (min-width: 80rem) {
  p {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.menu a {
  font-family: var(--wp--preset--font-family--urw-din);
}
